---
import Layout from "../layouts/Layout.astro";
import HeadingDefault from "../components/HeadingDefault.astro";
import CTA from "../components/CTA.astro";
import VisualImageHeading from "../components/VisualImageHeading.astro";
import data from "../data/site.json";
---

<Layout title={data.siteName}>
  <main>
    <HeadingDefault />
    <CTA />
    <VisualImageHeading />
  </main>
</Layout>
